.stockTicker {
  display: flex;
  flex-direction: column;
}

.tickerContainer {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.ticketValueText {
  font-size: 25px;
  margin-top: 10px;
}

.statusValueText {
  padding: 0.25em 0em;
  font-size: 25px;
}

.timeIntervalText {
  font-size: 18px;
}